.footer-container {
  & span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
  }
}
.footer-container {
  & span {
    & a {
      color: $main-text-color;
    }
  }
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
.section-footer {
  padding-bottom: 0px;
  padding: 38px 0px;
  @media screen and (min-width: 768px) {
    padding: 34px 0px;
  }
}

.section-btn {
  background-color: #f5f6fb;
  @media screen and (min-width: 320px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}
.pagination-btn {
  display: flex;
  width: 151.92px;
  height: 50px;

  margin: 0px;
  padding-left: 15px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding-left: 22px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 20px;
  }
}

.pagination-catigories-btn {
  padding: 15px 0px;
  text-align: center;
  background-color: $primaryWhiteColor;
  & a {
    color: $mail-title-color;
    text-decoration: none;
    padding: 15px 20px;
  }
  & .active {
    color: $primaryWhiteColor;
    background-color: $mail-title-color;
  }
}

// $main-color: #ff6b09;
// $bold-text-color: #000000;
// $inactive-color: #bbbbbb;
// $white-color: #ffffff;
// //Анимация
// $animation-timing: 0.2s ease-in;
// //Шрифты
// $montserrat: 'Montserrat', sans-serif;
// $roboto: 'Roboto', sans-serif;
// body {
//   font-family: $roboto;
// }

// //Сброс p, h1, h2 и т.д.
// %text-throw {
//   margin-top: 0;
//   margin-bottom: 0;
// }
// // Сброс ссылки
// %link-throw {
//   display: block;
//   text-decoration: none;
//   padding-top: 15px;
//   padding-bottom: 15px;
// }
// // Сброс кнопки
// %button-throw {
//   border: none;
//   outline: none;
// }
// // Стили секции
// %section-style {
//   @media screen and (min-width: 320px) {
//     padding-bottom: 110px;
//   }
//   @media screen and (min-width: 768px) {
//     padding-bottom: 180px;
//   }
// }
// //Стили контейнера
// %container-style {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 20px;
//   padding-right: 20px;
//   @media screen and (max-width: 479px) {
//     max-width: 450px;
//   }
//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 1280px;
//   }
// }
// // Стили UL API
// %list-style {

//   display: grid;
//   grid-gap: 20px;
//   @media screen and (min-width: 320px) {
//     grid-template-columns: 1fr;
//   }
//   @media screen and (min-width: 768px) {
//     grid-template-columns: 1fr 1fr;
//   }
//   @media screen and (min-width: 1280px) {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
// // Стили картинки внутри LI
// %img-style {
//   display: block;
//   width: 100%;
//   object-fit: cover;
//   object-position: center;
// }
// .card {
//   @extend %section-style;

//   &__item {
//     height: 100% !important;
//     box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
//     background-color: lavender;
//     // width: 295px;
//     @media screen and (min-width: 768px) {
//       height: 350px;
//     }
//   }
//   &__text {
//     padding: 20px;
//   }
//   &__img-wraper {
//     position: relative;
//   }
//   &__svg {
//     position: absolute;
//     right: 20px;
//     top: 20px;
//     width: 12px;
//     height: 12px;
//   }
//   &__svg2 {
//     position: absolute;
//     right: 20px;
//     bottom: 20px;
//     width: 12px;
//     height: 12px;
//   }
//   &__sale {
//     visibility: hidden;
//   }
// }

// .container {
//   @extend %container-style;
// }

// .card__list {
//   @extend %list-style, %list-throw;
//   @media screen and (min-width: 1280px) {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
// .card__img-wraper {
//   height: 275px;
// }
// .card__img {
//   height: 100%;
//   @extend %img-style;
// }

// .card__link {
//   pointer-events: none;
//   @extend %link-throw;
//   padding: 0;
//   & :not(:first-child) {
//     display: none;
//   }
//   height: 275px;
// }

// .double-price {
//   @extend %text-throw;
//   display: flex;
//   align-items: center;
//   text-align: start;
// }

// .card__title {
//   margin: 0px !important;

//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 300;
//   font-size: 12px;
//   line-height: 14px;
//   letter-spacing: 0.07em;
// }

// .is_hiden {
//   display: none;
// }
// .render_card {
//   display: none;
// }
// .double-price {
//   @extend %text-throw;
//   display: flex;
//   align-items: center;
//   text-align: start;
// }
// .card__price {
//   margin: 0px;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.04em;
// }
// .card__sale {
//   padding-top: 20px;
//   @extend %text-throw;
//   color: $main-color;
//   margin-left: 6px;
// }
// .pagination-card-all {
//   & :nth-child(n + 5) {
//     display: none;
//   }
//   @extend %list-throw;
//   @media screen and (min-width: 768px) {
//     display: flex;
//     overflow: hidden;
//     & :not(:last-child) {
//       margin-right: 20px;
//     }
//   }
// }
// .span_card {
//   & :nth-child(n + 3) {
//     display: none;
//   }
//   & :nth-child(2) {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     letter-spacing: 0.06em;
//     text-decoration-line: underline;
//     color: $main-color;
//   }
//   & :first-child {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 15px;
//     letter-spacing: 0.09em;
//     text-transform: uppercase;
//   }
// }
// .section-pagination {
//   @extend %container-style;
//   padding: 0px 15px;
// }
// .pagination-name-group-div {
//   & :not(:first-child) {
//     display: none;
//   }
// }
// .pagination-name-group {
//   display: block;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 12px;
//   line-height: 15px;
//   letter-spacing: 0.09em;
//   text-transform: uppercase;

//   & a {
//     padding-left: 15px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     letter-spacing: 0.06em;
//     text-decoration-line: underline;

//     color: $main-color;
//   }
// }
// .pagination-card {
//   height: 350px;
//   min-width: 290px;
//   background-color: lavender;
//   @media screen and (min-width: 768px) {
//     min-width: 352px;
//   }
//   @media screen and (min-width: 1280px) {
//     min-width: 285px;
//   }
// }

// .pagination-card-block {
//   margin-bottom: 30px;
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
// }
// .pagination-btn {
//   display: flex;
//   width: 151.92px;
//   height: 50px;
//   @extend %list-throw;
//   margin: 0px;
//   padding-left: 15px;
//   cursor: pointer;

//   @media screen and (min-width: 768px) {
//     padding-left: 22px;
//   }
//   @media screen and (min-width: 1280px) {
//     padding-left: 20px;
//   }
// }
// .pagination-catigories-btn {
//   padding: 15px 0px;
//   text-align: center;
//   background-color: $white-color;
//   & a {
//     color: $bold-text-color;
//     text-decoration: none;
//     padding: 15px 20px;
//   }
//   & .active {
//     color: $white-color;
//     background-color: $bold-text-color;
//   }
// }
// html {
//   height: 100%;
// }

// body {
//   /* Растягиваем body по высоте html */
//   min-height: 100%;
//   display: grid;
//   grid-template-rows: auto 1fr auto;
// }
// .title {
//   display: none;
// }
// .section-footer {
//   @extend %section-style;
//   padding-bottom: 0px;
//   padding: 38px 0px;
//   @media screen and (min-width: 768px) {
//     padding: 34px 0px;
//   }
// }
// .footer-container {
//   @extend %container-style;

//   & span {
//     & a {
//       color: $bold-text-color;
//     }
//   }
//   @media screen and (min-width: 768px) {
//     text-align: center;
//   }
// }
// .copy {
//   color: #000000;
//   font-size: 16px !important;
//   font-weight: bold !important;
// }
// .head {
//   color: #ff6b09;
//   font-size: 16px !important;
// }
// .reserved {
//   margin-right: 30px;
//   margin-left: 5px;
//   border-left: 2px solid lightgray;
//   padding-left: 10px;
//   @media screen and (min-width: 768px) {
//     margin-right: 15px;
//     margin-left: 15px;
//   }
// }
// .footer-container {
//   & span {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     letter-spacing: 0.03em;
//   }
// }
// .section-btn {
//   background-color: #f5f6fb;
//   @media screen and (min-width: 320px) {
//     padding-bottom: 30px;
//   }
//   @media screen and (min-width: 768px) {
//     padding-bottom: 60px;
//   }
// }
// .category-cards {
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     & :nth-child(n + 5) {
//       display: none;
//     }
//   }
// }
