.modal-form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 94px;

  &-field {
    position: relative;
    display: block;
  }

  &-input {
    display: block;
    width: 550px;
    height: 40px;
    margin: 0;
    margin-bottom: 28px;
    padding-left: 42px;
    box-sizing: border-box;

    background-color: transparent;
    border: none;

    border-bottom: 1px solid #000;
  }

  &-label {
    position: absolute;
    top: 25%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    // color: red;
    transition: transform $cubicBezier;
  }
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(150, 41, 41, 0.5);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(177, 57, 57, 0.5);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(175, 57, 57, 0.5);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(165, 55, 55, 0.5);
}

.modal-form-button {
  position: absolute;
  top: 25%;
  right: 100px;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $accentColor;

  @media screen and (min-width: 310px) and (max-width: 479px) {
    width: 290px;
    background-color: $accentColor;
    height: 152px;
  }
  @media screen and(min-width: 480px) and (max-width: 1199px) {
    width: 650px;
    background-color: $accentColor;
    height: 230px;
  }

  @media screen and(min-width: 1200px) {
    width: 860px;
    height: 230px;
    background-color: $accentColor;
  }
  // &-title {
  //   text-align: center;
  //   font-weight: bold;
  //   font-size: 20px;
  //   line-height: 1.4;
  //   letter-spacing: 0.03em;
  //   margin-top: 40px;
  //   margin-bottom: 30px;
  // }
}
